
Search for Things WHERE
%br/
Tag is 
= text_field_tag :bytag
%br/
Username is 
= text_field_tag :byusr
%br/
URL contains
= text_field_tag :byurl
%br/
Description contains
= text_field_tag :bydesc
%br/
%br/
= submit_tag 'Advanced Search'

