<h1>New srch</h1>

<% form_for(@srch) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :srchtype %><br />
    <%= f.text_field :srchtype %>
  </p>
  <p>
    <%= f.label :srchphrase %><br />
    <%= f.text_field :srchphrase %>
  </p>
  <p>
    <%= f.label :usr_scoped %><br />
    <%= f.check_box :usr_scoped %>
  </p>
  <p>
    <%= f.label :usr_id %><br />
    <%= f.text_field :usr_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', srchs_path %>
