<h5>Tech Tips</h5>
<p />
<%= link_to "The Rails and ActiveScaffold Code Behind This Site", :action => "sitecode" %> <br /> <p />
<p />
<%= link_to "Oracle 10g R2 [10.2.0.2] Install on Solaris 10 x86", :action => "o10gR2_solaris10x86" %> <br /> <p />
<p />
<a href="http://map611.com/preso/README.html" target="m">The building of map611.com</a>
<p />
<%= link_to "Submission of Rhodes HelloWorld App to App Store", :action => "rhw" %> <br /> <p />
<p />
<%= link_to "Copying Data From A Ruby On Rails Session Into An Oracle Session", :action => "roracle_session" %> <br /> <p />
<p />
<%= link_to "Stock Price Moving Average Slope as an Indicator", :action => "mvg_avg_study" %> <br /> <p />
<p />
<%= link_to "Reading list for Yale Math Class: PORTFOLIO ESTIMATION FOR COMPOUNDING WEALTH", :action => "compound_wealth_reading_list" %> <br /> <p />
<p />
<%= link_to "Mixing Oracle and Ruby With ETF Price Data", :action => "mix_oracle_ruby_etf" %> <br /> <p />
<p />
<%= link_to "SQL*Plus ETF Analysis: Sell in May and Go Away?", :action => "sim" %> <br /> <p />
<p />
<%= link_to "Crunch Value Line Option Data With Oracle and Ruby", :action => "vlm" %> <br /> <p />
<p />
<%= link_to "Data Mining Valueline Puts Data With SVM Algorithm", :action => "vlp" %> <br /> <p />
<p />
<%= link_to "PostgreSQL 8.4 Installation on Mac OS/X 10.5.7", :action => "pgi" %> <br /> <p />
<p />
<%= link_to "Setting up https on lighttpd", :action => "lssl" %> <br /> <p />
<p />
<%= link_to "A Recipe For An HTML5 iPhone Web App", :action => "h5" %> <br /> <p />



<p />
<a href="http://www.google.com/search?q=burrito+recipes" target="b"><img alt="tech_tips" src="/images/tech_tips.jpg" /> </a>








